.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background: tomato;
  text-decoration: none;
}

.listItem > :first-child {
  margin: 0 5px;
}

.listItem > :last-child {
  margin: 0 15px;
}

.listItem h3 {
  margin: 0;
}
