.app__main {
  background-color: ghostwhite;
  border-style: solid;
  border-image-slice: 1;
  border-width: 5px 0;
  border-image-source: var(--highlight-Color);
  overflow: auto;
}

.app__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.app__form__input {
  display: block;
  padding: 10px 0;
}

.app__form__text {
  display: block;
  padding-bottom: 3px;
}

.app__back_button {
  background: none;
  border: none;
  padding: 15px 0 0 10px;
}
