.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.app__header {
  background-color: var(--highlight-Color);
  color: white;
  box-shadow: 0px 5px 10px var(--highlight-Color);
  display: flex;
  align-content: center;
  justify-content: center;
}

.app__main {
  background-color: ghostwhite;
  border-style: solid;
  border-image-slice: 1;
  border-width: 5px 0;
  border-image-source: var(--highlight-Color);
}

.app__footer {
  box-shadow: 0px -5px 10px var(--highlight-Color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
