*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Nunito", sans-serif;
}

:root {
  --highlight-Color: #4462ff;
}

.app__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.app__form__input {
  display: block;
  padding: 10px 0;
}

.app__form__text {
  display: block;
  padding-bottom: 3px;
}

.app__back_button {
  background: none;
  border: none;
  padding: 15px 0 0 10px;
}
